<tr>
      <td align="center" valign="top">
        <table class="email-container" bgcolor="#000000" cellpadding="0" cellspacing="0" border="0" role="presentation"
          style="
                max-width: 650px;
                background-color: #000000 !important;
                font-color: #ffffff;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
              ">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="width: 100%">
                <tr>
                  <td height="10"></td>
                </tr>
                <tr>
                  <td width="18"></td>
                   <td style="padding: 6px 0px 18px; color: #ffffff; line-height: 22.4px; font-size: 16px;">
                    <span>                    
                      If you have any further questions, please visit our
                      help section. If you are experiencing any difficulty,
                      or need assistance with our account you can call our
                      Website Support Desk on
                      <strong>0345 602 3108</strong>. Lines are open from
                      Monday - Sunday 7am to 7pm.<br />
                      <br />
                      <strong>Send us a message</strong><br />If we can help
                      or if you think we could be doing something better we
                      always want to hear from you.<br />
                      <br />
                      <strong>Postal Address</strong><br />Booker Ltd,
                      Irthlingborough Road, Wellingborough<br />Northants,
                      NN8 1LT<br />
                      <br />
                      <strong>General Enquiries</strong><br />01933 371000
                    </span>
                  </td>
                  <td width="18"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="width: 100%">
                <tr>
                  <td width="18"></td>
                  <td>
                    <hr style="
                            border: none;
                            border-top: 1px dotted #949494;
                            margin: 0;
                          " />
                  </td>
                  <td width="18"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100% !important"
                role="presentation">
                <tr>
                  <td width="18"></td>
                  <td>
                    <p style="
                            font-family: 'Inter', Arial, sans-serif;
                            margin: 0;
                            font-size: 11px;
                            line-height: 11px;
                            text-align: center;
                            color: #949494;
                            font-weight: normal;
                            text-align: left;
                            margin: 0;
                            padding: 0;
                          ">
                      &copy; Booker 2025
                    </p>
                  </td>
                  <td width="18"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100% !important"
                role="presentation">
                <tr>
                  <td width="18"></td>
                  <td>
                    <a href="https://x.com"><img
                        src="https://assets.parceldns.com/assets/f80f6c12-4a49-41b9-8325-873f8cfab05e/4d777a7e-d674-4946-987a-6d256d985bcc.jpg?parcelPath=/images/x.jpg"
                        height="24" width="24" style="
                              display: inline-block;
                              vertical-align: middle;
                            " /></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://facebook.com"><img
                        src="https://assets.parceldns.com/assets/f80f6c12-4a49-41b9-8325-873f8cfab05e/314f872f-dd71-4019-9858-e28ea460c756.jpg?parcelPath=/images/facebook.jpg"
                        height="24" width="24" style="
                              display: inline-block;
                              vertical-align: middle;
                            " /></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://instagram.com"><img
                        src="https://assets.parceldns.com/assets/f80f6c12-4a49-41b9-8325-873f8cfab05e/cfe685f4-50d9-4d91-abac-566850469e12.jpg?parcelPath=/images/instagram.jpg"
                        height="24" width="24" style="
                              display: inline-block;
                              vertical-align: middle;
                            " /></a>
                  </td>
                  <td align="right">
                    <a href="https://www.booker.co.uk/"><img
                        src="https://assets.parceldns.com/assets/f80f6c12-4a49-41b9-8325-873f8cfab05e/f4e1728d-f0c8-4ae7-872a-02e25b992dfb.jpg?parcelPath=/images/Logo-footer.jpg"
                        height="20" width="120" border="0" /></a>
                  </td>
                  <td width="18"></td>
                </tr>
                <tr>
                  <td height="30"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>