<tr>
  <td align="center" valign="top">
    <table class="email-container" cellpadding="0" cellspacing="0" border="0" role="presentation"
      style="width: 100%; max-width: 650px">
      <tr>
        <td height="16"></td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100% !important"
            role="presentation">
            <tr>
              <td width="18"></td>
              <td>
                <a href="https://www.booker.co.uk/"><img
                    src="https://assets.parceldns.com/assets/f80f6c12-4a49-41b9-8325-873f8cfab05e/c1feaadf-1c26-44b5-82e3-7b6eb2e4dd7b.png?parcelPath=/images/Booker-logo.png"
                    alt="Booker" height="23" width="138" border="0" /></a>
              </td>

              <td width="18"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="16" style="height: 16px; line-height: 16px"></td>
      </tr>
    </table>
  </td>
</tr>