<!--[if mso]>
                        <a
                          href="https://www.booker.co.uk/help/website-terms-of-use"
                          style="text-decoration: underline; color: #000"
                          >terms & conditions</a
                        >.
                      <![endif]-->
<!--[if !mso]> <!-- -->
<a href="https://www.booker.co.uk/help/website-terms-of-use" style="
                          text-decoration: none;
                          border-bottom: 1px dotted #000;
                          color: #000;
                        ">terms & conditions</a>.
<!--<![endif]-->